<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :title,"Title" %>
      <%= f.text_field :title %>

      <%= f.label :experience,"Experience" %>
      <%= f.text_field :experience %>

      <%= f.label :salary,"Salary"%>
      <%= f.text_field :salary %>

      <%= f.label :post, "Post" %>
      <%= f.text_field :post %>

      <%= f.submit "Create new Job", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>